<launch>
    <!--label-->

    <include file="$(find turtlebot3_sim_test)/launch/turtlebot3_sim_all_launch.launch" />
    <node pkg="send_goals" type="nlu_input.py" name="nlu_input" output="screen"/>
    <node pkg="send_goals" type="clip_inference.py" name="clip_inference" output="screen"/>

</launch>
